<div class= "col-lg-10 mx-auto">
	<h1 class="text-center" mt-8 mx-8></h1>
<p class="lead">Custom container

When you have some styles on a parent element that interfere with a popover, you’ll want to specify a custom container so that the popover’s HTML appears within that element instead. This is common in responsive tables, input groups, and the like.</p>

</div>




<div class= "col-lg-10 mx-auto">
	<h1 class="text-center" mt-8 mx-8></h1>
<p class="lead">Custom container

When you have some styles on a parent element that interfere with a popover, you’ll want to specify a custom container so that the popover’s HTML appears within that element instead. This is common in responsive tables, input groups, and the like.</p>

</div>