<div class= "col-lg-10 mx-auto">
	<h1 class="text-center">web instrahram</h1>
	<%= link_to 'reels ', reels_path , target: :_blank ,style: 'color:red' %>
	<%= link_to 'profile', profile_path ,target: :_blank ,style: 'color:red' %>
</div>